---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Logos from "@components/logos.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");

const pricingData = [
	{
		name: "IDE Intergration",
		price: "Helix Analyzer",
		popular: false,
		features: [
			"Errors, Warnings, and Notes support",
			"Can analyze for runtime errors",
			"Follows the Language Server Protocall",
			"Open-AI/SwaggerUI API refrence",
			"Open Source",
		],
		button: {
			text: "Learn More",
			link: "docs/reference/helix-analyzer",
		},
	},
	{
		name: "Package Manager",
		price: "Helios",
		popular: true,
		features: [
			"Install, and Remove packages with ease",
			"Works with pip, cargo, brew, and vcpkg",
			"Project manager",
			"Build Tool",
			"Extensible",
			"High Performance",
            "Open Source",
		],
		button: {
			text: "Learn More",
			link: "docs/reference/helios",
		},
	},
	{
		name: "Optimization",
		price: "Helix AI",
		popular: false,
		features: [
			"Uses AI to optimize helix llvm ir",
			"Runs AI model locally",
			"Produces truly effient code",
			"Can result in magnitudets of performance increase",
            "Open Source",
		],
		button: {
			text: "Learn More",
			link: "docs/reference/helix-ai",
		},
	},
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Tools</Fragment>
			<Fragment slot="desc">Helix comes with great tools inbuilt, such as IDE intergrations and other neet features.</Fragment>
		</Sectionhead>
        
		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
