---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "What is Helix?",
		description: "Helix is a high-performance general-purpose programming language that seamlessly integrates with C++, Rust, and Python.",
	},
	{
		title: "Why use Helix?",
		description: "Helix is designed to provide robust, efficient, and maintainable applications. It leverages the strengths of C++, Rust, and Python, making it a versatile choice for various programming needs.",
	},
	{
		title: "Can I remove Helix's integration with other languages?",
		description: `While you can technically remove Helix's integrations with C++, Rust, or Python, it is not recommended as Helix is designed to leverage these languages for maximum performance and flexibility.`,
	},
	{
		title: "How can I configure Helix for a specific environment?",
		description: "Helix can be configured for various environments by setting the appropriate target triples. Refer to the Helix documentation for detailed configuration instructions.",
	},
	{
		title: "How does Helix handle memory management?",
		description: "Helix uses efficient memory management techniques and provides mechanisms for manual and automatic memory management, ensuring your applications run smoothly and efficiently.",
	},
	{
		title: "Can I use Helix for web development?",
		description: "Yes, Helix can be used for web development. It provides tools and integrations that make it suitable for building high-performance web applications.",
	},
	{
		title: "How do I handle errors in Helix?",
		description: "Helix offers comprehensive error handling capabilities. It supports traditional try-catch mechanisms and provides detailed error reporting for easier debugging and maintenance.",
	},
	{
		title: "How can I contribute to Helix?",
		description: `You can contribute to Helix by visiting our GitHub repository. We welcome contributions in the form of code, documentation, and issue reporting. Follow the contribution guidelines outlined in the repository.`,
	},
	{
		title: "How do I update Helix to the latest version?",
		description: `To update Helix to the latest version, follow the instructions provided in the Helix documentation. Ensure you have the necessary dependencies and tools installed before updating.`,
	},
	{
		title: "Where can I find Helix's documentation?",
		description: `Helix's documentation can be found on the official website at <a href="www.helix-lang.com/docs">www.helix-lang.com/docs</a>. The documentation includes tutorials, API references, and guides to help you get started with Helix.`,
	},
	{
		title: "What should I do if I encounter an issue with Helix?",
		description: `If you encounter an issue with Helix, you can report it on our GitHub issues page. Please provide detailed information about the issue, including steps to reproduce it, so we can assist you effectively.`,
	},
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">{t("faq.title")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
